/*sections------------------------------------------------------------------- */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial,Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    grid-template-columns: auto 0px;
    display: grid;
}

#wrapper {
    height: 100%;
    max-width: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: #000000;
    padding-right: 0px;
    padding-left: 0px;
}
main  {
}
article {
    grid-area: main;
    padding: 4px;
    margin: 0 auto; /* Center horizontally */
    max-width: 800px; /* Adjust the max-width as needed */
}


aside	{
}
footer {
}
header {
}
.post	{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    border-radius: 20px;
    text-align: center;
}
nav	{
}
.menu {
    height: fit-content;
}


/*headings------------------------------------------------------------------- */
h1	{
    color: #fff;
    font-size: 150px;
    line-height: 150px;
    margin-bottom: 0px;
    margin-top: 20px;

}
h2	{
    font-size: 26px;
    line-height: 35px;
    margin-top: 0px;
}
h3 	{
    font-size: 16px;
    line-height: 20px;
}
/*grouping------------------------------------------------------------------- */
p	{
    font-size: 16px;
    line-height: 1.5em;
    margin: 10px 0 10px 0;
}
blockquote	{
}
table   {
}
/*Grid layout---------------------------------------------------------------------- */
.banner {
    grid-area: banner;
}
.menu {
    grid-area: menu;
}
nav {
    grid-area: nav;
}
main {
    grid-area: main;
}
aside {
    grid-area: aside;
}
#wrapper {
    min-height: 100vh;
    display: grid;
    align-content: first baseline;
    grid-gap: 0;
    grid-template-areas: 
        "banner"
        "header"
        "menu"
        "main"
        "aside";
    margin: 0 auto; /* Center the wrapper horizontally */
    max-width: 1200px; /* Set a maximum width for the wrapper */
}

@media (min-width: 60em) {
    #wrapper {
      grid-template-columns: 3fr 6fr 3fr;
      grid-template-areas: 
        "banner  banner  banner"
        "menu  menu  menu"
        "nav  main  aside"
        "footer  footer  footer";
     }
  }
  /* --------------------------
  Layout Styles - mobile first
  ----------------------------*/
  .banner
  {
      background-color: #000000;
      padding: 1em 0 1em 0em;
      max-width: 100%
  }
  
  .menu
  {
      background: #000000 ;
      padding: 0;
      text-transform: uppercase;
      font-weight: bold;
      height: fit-content;
  }
  
  main
  {
      margin: 0 1em 0 1em;
  }
  
  footer
  {
      color: #fff;
      background: #000000;
      padding: 1em 1.25em 1em 1.25em;
  }
  
  img	
  {
      max-width: 100%;
  }
  /* -----------------------------------------------
  Menu Navigation - vertical layout for smaller screens
  --------------------------------------------------*/
  .menu ul
  {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
      
  }
  .menu li
  {
      display: inline-flex; 
      margin: 0;
      justify-content: center;
  }
  .menu a
  {
      display: block;
      padding: .7em 1.25em .7em 1.25em;
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid black;
  }
  
  .menu a:link
  {
      color: #fff;
  }
  .menu a:visited
  {
      color: #fff;
  }
  .menu a:focus
  {
      color: #C00;
  }
  .menu a:hover
  {
      color: #dfdfdf;
  }
  .menu a:active
  {
      color: #000000;
  }
  /* ----------------------------------------------------
  Wider screens - i.e. desktop, laptop, tablet landscape
  -------------------------------------------------------*/
  
  @media screen and (min-width: 50em)
  {
      .banner { padding: 10px 10px 0 0; }
      .menu { padding: 1em 0 1em 3em; }
      footer { padding: 2em 3em 2em 3em; }
  
      .menu li
      {
          display: inline-flex;
          margin: 0 1em 0 0;
      }
      .menu a
      {
          display: inline-flex;
  
          border-bottom: 0;
      }	
      aside {
          float: right;
      }
  }
  
  /* ----------------------------------------------------
  Mobile screens - portrait
  -------------------------------------------------------*/
  /*Timtable not displayed on small width screens*/
  
  @media (max-width: 35em) {
      table {
          display:none;
     }
     
  }
  
  /*float/clear classes */
  .fltrt {  /* this class can be used to float an element e.g. image right in the page. The floated element must precede the element it should be next to on the page. */
      float: right;
      margin-left: .5em;
  }
  .fltlt { /* this class can be used to float an element e.g. image left in the page. The floated element must precede the element it should be next to on the page. */
      float: left;
      margin-right: .5em;
  }
  .clear { /* this class can be placed on an element or empty div as the final element following the last floated div */
      clear: both;
  }
  .centertext {
    text-align: center;
  }
  .center {
    align-self: center;
  }
  /* --------------------------
  Tutorial layout
  ----------------------------*/
  /*640 px - tablet portrait orientation - 2 columns*/
  @media screen and (min-width: 40em){
    .card { width: 50%; }
  }
  /*960 px* - tablet landscape orientation and above - 3 columns*/
  @media screen and (min-width: 60em) {
    .card { width: 33.33%; }
  }
  .instructions	{
      margin: 2em 0 0 1.25em;
  }
  
  .instructions h3, aside h3	{
      text-transform: uppercase;
      color: #ffffff;
      font-weight: bold;
  }
  
  .cards {
      display: flex;
      flex-wrap: wrap;
  }
  
  .card {
      display: flex; 
  }
  
  .card-content {
        flex-direction: column;
      width: 100%;
      border: 1px solid #105769;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin: 1.25em 1.25em 0.3em 0;
      padding: 1em;
      background-color: #1e1e1e;
  }
  
  .card-content h4 {
      text-align: center;
      color: #ca274e;
      margin-top: .5em;
  }
  
  .card-content img {
      border: 1px solid #ccc;
      box-shadow: 0 2px 3px 0 #ccc;
      margin-bottom: 0.7em;
  }
  
  .card-content p {
      line-height: 1.3;
      margin: 0;
      color: #ffffff;
  }
  .blue {
    color: blue;
  }
  .red {
    color: red;
  }
  .yellow {
    color: yellow;
  }
/* --------------------------
contact form
----------------------------*/
label {display: block;}
input {
  display: inline;
  text-align: center;
}

input[type="submit"]
{
	background-color: #FFF;
	font-size: 1.2em;
	text-align: center;
	width: 50%;
	border: 1px solid #333;
	margin-top: 1em;
	display: inline;
}
input[type="submit"]:hover
{
	background-color: #D3D3D3;
}
textarea
{
    width: 98%;
    height: 8em;
    text-align: left;
}
form
{
    max-width: 1000%;
    padding: 1em;
    margin: 1.2em;
    text-align: center;
    border: 1px solid #000;
    grid-area: main;
}
input[type="radio"] {
  display:none;
}


input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

/* --------------------------
product-details
----------------------------*/
.product-details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    display: flex;
    align-items: center;
    grid-area: main;
  }

  .product-image {
    width: 200px;
    margin-right: 20px;
  }

  .product-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .product-description {
    margin-bottom: 15px;
  }

  .buy-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .buy-button:hover {
    background-color: #0056b3;
  }